CouchDB==0.9
Fabric==1.8.1
MySQL-python==1.2.5
PyYAML==3.10
SQLAlchemy==0.9.1
Unidecode==0.04.14
argparse==1.2.1
beanstalkc==0.3.0
ecdsa==0.10
elasticsearch==0.4.4
inflect==0.2.4
lockfile==0.9.1
paramiko==1.12.1
pycrypto==2.6.1
pystache==0.5.3
python-daemon==1.6
requests==2.2.1
sqlacodegen==1.1.4
sqlautocode==0.7
urllib3==1.7.1
wsgiref==0.1.2
xmltodict==0.8.3
